.container{
    float:left;
    background-color: pink;
    border: 10px;
    border-width: 10px;
    margin-left: 2px;
    border-color: yellow;
    border-radius: 5px;
    width: 70px;
    justify-content: center;
    padding-left: 20px;
}
.Timer{
    float: none;

}
